/* App.css */
.App {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
  }

  .movie {
    border: 1px solid #ccc;
    padding: 10px;
  }

  .movie img {
    width: 100%;
    height: auto;
  }

  .movie h2 {
    margin-top: 10px;
  }

  .App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.text-white {
    color : #ffff;
}

.fs-24 {
    font-size: 24px;
}

.form-control {
    background-color: #000 !important;
    color: #ffff !important;
}

#search::placeholder {
    color: #ff0000 !important;
    opacity: 1;
}
